/*
TODO move next class to login form component (features/auth/LoginForm/LoginForm.tsx)
*/
.cardAuthContainer {
    @apply w-full max-w-[480px] mx-auto
        py-12 px-8
        min-h-[500px]
        bg-white
        rounded-xl
        shadow-lg;

    /* mobile */
    @apply max-md:min-h-screen
        max-md:max-w-none
        max-md:rounded-none
        max-md:shadow-none
        max-md:p-8;

    /* tablet */
    @apply md:max-lg:max-w-[520px]
        md:max-lg:min-h-0
        md:max-lg:rounded-none
        md:max-lg:shadow-none
        md:max-lg:p-12;
}

.authMainContent {
    @apply flex items-center justify-center
        min-h-screen
        bg-centra-surface;

    /* mobile */
    @apply max-md:bg-white
        max-md:p-0;

    /* tablet */
    @apply md:max-lg:bg-white
        md:max-lg:p-8;
}

/*
TODO move next class to login form component (features/auth/LoginForm/LoginForm.tsx)
*/
.authHeaderContainer {
    @apply flex flex-col items-center
        text-center
        mb-8

        max-md:mb-7
        md:max-lg:mb-10;
}
/*
TODO move next class to login form component (features/auth/LoginForm/LoginForm.tsx)
*/
.authAvatar {
    @apply w-16 h-16
        rounded-full
        flex items-center justify-center
        mx-auto mb-4
        bg-centra-primary;
}
/*
TODO move next class to login form component (features/auth/LoginForm/LoginForm.tsx)
*/
.authTitle {
    @apply m-0
        text-xl
        font-semibold

        md:max-lg:text-2xl;
}
/*
TODO move next class to login form component (features/auth/LoginForm/LoginForm.tsx)
*/
.authSubtitle {
    @apply text-[#666]
        mt-1
        m-0

        max-md:text-xs
        md:max-lg:text-sm;
}
