@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.ant-form-vertical .ant-form-item-label {
    padding-bottom: 4px;
}

.ant-form-item-label > label {
    font-weight: 600;
}
